
@font-face {
  font-family: "Caveat";
  src: url(./media/fonts/Caveat-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Kotta One';
  src: url(./media/fonts/KottaOne-Regular.ttf) format('truetype');
}

.App {
  font-family: 'Kotta One';
  text-align: center;
}

.animal-box {
  display:flex;
  background-color: rgb(117, 206, 209);
  min-width: 405;
  width:70%;
  height: 40%;
  flex-direction:row;
  align-items:row;
}

/*------------------------------------------------*/

/* BIG STRUCTURE SHIZZ */

.page-section {
  background-color:rgb(180, 223, 182);
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

select {
 background-color: #ede8e1; 
}

/*------------------------------------------------*/

/* LANDING */

#landing {
  background-image: url(./media/images/landing-background.jpg);
  background-size: cover;
}

#landing h1 {
  font-size: 5em;
  text-shadow: -3px 3px #3a3838;
  color: #ffffff;
  animation-name: landing-fade;
  animation-duration: 4s;
}

#landing p {
  font-size: 2em;
  color: #ffffff;
  text-shadow: -3px 3px #3a3838;
  animation-name: landing-fade;
  animation-duration: 4s;
}

@keyframes landing-fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

/*------------------------------------------------*/

/* SETUP */
.setup-box {
  display:flex;
  background-color: rgb(141, 102, 129);

  width:60%;
  height: 40%;

  flex-direction:row;
  align-items:row;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}


#setup-section {
  background-image: url(./media/images/setup-background.jpg);
}

/*------------------------------------------------*/

/* SIDE FIXED SCOREBOARD */
.scoreTable {
  position: fixed;
  right: 0;
  top:30%;
  z-index: 100;

  border-collapse: collapse;
  border: 5px solid rgb(65, 52, 39);
  background-color: #f8f2ea;

  font-family: 'Caveat';
  font-size: 20px;
}

.scoreTable th {
  font-weight: normal;
  background-color: #ece0d1;
  padding:4px;
  border: solid rgb(65, 52, 39);
  border-width: 1px 1px 3px 1px;
}

.scoreTable td {
  padding: 1px;
  text-align: center;
}

.showHideDiv {
  position: fixed;
  top: 0px;
  right: 0px;
  top:30%;
  z-index: 101;
  transform: translateY(-100%);
}

.showHideButton {
  background-color: rgb(65, 52, 39);

  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgb(44, 44, 44) ;
}

#score-icon {
  display:inline;
  justify-content: center;
  align-items: center;

  height: 1.5em;
  width: 1.5em;
}

#environ-icon{
  display:inline;
  justify-content: center;
  align-items: center;

  height: 1.5em;
  width: 1.8em;
}

/*------------------------------------------------*/

/* ANIMALS */
.animal-select {
  margin-left: 1em;
}

input {
  width: 30px;
}

.box-column {
  display: flex;

  margin: 1em 1em 1em 1em;

  flex-direction: column;
  flex: 1 2 auto;
  
  justify-content: center;
  align-items: center;
}

.banner p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.banner hr{
  border:none;
  background-color: antiquewhite;
  height: 1px
}

.mid-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.side-images {
  height:100px;
  width:100px;
}
.animal-pic{
  width: 120px;
  height:auto;

}

/* BEARS */
#bear-section {
  background-image: url(./media/images/bear-background.svg);
  background-size: cover; 
  justify-content: space-between;
}

#bear-box {
  display:inline-flex;
  width: auto;
  height:auto;
  
  margin: auto;
  padding: 1em 2em 1em 2em;

  background-color: #322312;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

#bear-banner {
  height: 15vh;
  width:100%;
  background-color: #322312;
  color: #734e1d;
  box-shadow: 0px 5px  5px rgb(44, 44, 44) ;
}

#bear-banner h2 {
  font-size: 2em;
  margin-bottom:0.5em;
  margin-top: 0.5em;
}

#bear-banner #text-break {
  width: 20%;
  background-color: #734e1d;
  height:2px;
  border:none;
}

/* ELKS */
#elk-section {
  background-image: url(./media/images/elk-background-2.svg);
  background-size: cover; 
  justify-content: space-between;
}

#elk-box {
  display:inline-flex;
  width: auto;
  height:auto;
  

  margin: auto 0px;
  padding: 1em 2em 1em 2em;

  background-color: #55500b;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

#elk-banner {
  height: 15vh;
  width:100%;
  background-color: #55500b;
  color: #877921;
  box-shadow: 0px 5px  5px rgb(44, 44, 44) ;
}

#elk-banner h2 {
  font-size: 2em;
  margin-bottom:0.5em;
  margin-top: 0.5em;
}

#elk-banner #text-break {
  width: 20%;
  background-color: #877912;
  height:2px;
  border:none;
}

/* SALMON */
#salmon-section {
  background-image: url(./media/images/salmon-background.svg);
  background-size: cover; 
  justify-content: space-between;
}

#salmon-box {
  display:inline-flex;
  width: auto;
  height:auto;
  

  margin: auto 0px;
  padding: 1em 2em 1em 2em;

  background-color: #3f1724;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

#salmon-banner {
  height: 15vh;
  width:100%;
  background-color: #3f1724;
  color: #8b1e36;
  box-shadow: 0px 5px  5px rgb(44, 44, 44) ;
}

#salmon-banner h2 {
  font-size: 2em;
  margin-bottom:0.5em;
  margin-top: 0.5em;
}

#salmon-banner #text-break {
  width: 20%;
  background-color: #8b1e36;
  height:2px;
  border:none;
}

/* BIRD */
#bird-section {
  background-image: url(./media/images/bird-background.svg);
  background-size: cover; 
  justify-content: space-between;
}

#bird-box {
  display:inline-flex;
  width: auto;
  height:auto;
  

  margin: auto 0px;
  padding: 1em 2em 1em 2em;

  background-color: #1d383d;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

#bird-banner {
  height: 15vh;
  width:100%;
  background-color: #1d383d;
  color: #589bb6;
  box-shadow: 0px 5px  5px rgb(44, 44, 44) ;
}

#bird-banner h2 {
  font-size: 2em;
  margin-bottom:0.5em;
  margin-top: 0.5em;
}

#bird-banner #text-break {
  width: 20%;
  background-color: #589bb6;
  height:2px;
  border:none;
}

/* FOX */
#fox-section {
  background-image: url(./media/images/fox-background.svg);
  background-size: cover; 
  justify-content: space-between;
}

#fox-box {
  display:inline-flex;
  width: auto;
  height:auto;
  

  margin: auto 0px;
  padding: 1em 2em 1em 2em;

  background-color: #5f390e;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

#fox-banner {
  height: 15vh;
  width:100%;
  background-color: #5f390e;
  color: #be7a12;
  box-shadow: 0px 5px  5px rgb(44, 44, 44) ;
}

#fox-banner h2 {
  font-size: 2em;
  margin-bottom:0.5em;
  margin-top: 0.5em;
}

#fox-banner #text-break {
  width: 20%;
  background-color: #be7a12;
  height:2px;
  border:none;
}

/* ------------------------------------- */
/* Environments */

.environ-box {
  display:flex;
  flex-direction: column;
  width: auto;
  height:auto;
  

  margin: auto 0px;
  padding: 1em 2em 1em 2em;

  background-color: #5f390e;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

.total {
  margin-top: 2em;
}

.environ-box input {
  margin-left: 1em;
  margin-right: 1em;
}

/*Pinecones*/
.pinecone-box {
  display:block;
  flex-direction:row;
  width: auto;
  height:auto;
  

  margin: auto 0px;
  padding: 1em 2em 1em 2em;

  background-color: #5f390e;
  color:antiquewhite;

  border-radius: 15px;
  box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
}

.pinecone-box input {
  margin-left: 1em;
  margin-right: 1em;
}

/* ------------------------------------------------ */
/*MOBILE CHANGES*/
@media only screen and (max-width: 768px) {

  .page-section{
    height:120vh;
  }
  .box-column {
    display: flex;
    margin: 0;
    padding: 0;

    min-width: 25%;
    max-width: 90%;
    flex-direction: column;
    flex: 0 0 33%;
    
    justify-content: center;
    align-items: center;
  }

  .setup-box {
    display:flex;
    background-color: rgb(141, 102, 129);
  
    width:100%;
    height: 60%;
  
    flex-direction:row;
    align-items:row;
    flex-wrap: wrap;
  
    border-radius: 15px;
    box-shadow: 5px 5px  5px rgb(44, 44, 44) ;
  }

  .scoreTable {
    position: fixed;
    right: 0;
    top:30%;
    z-index: 100;
    
    border-collapse: collapse;
    border: 5px solid rgb(65, 52, 39);
    background-color: #f8f2ea;
  
    font-family: 'Caveat';
    font-size: 20px;
  }


  .animal-box {
    display:flex;
    background-color: rgb(117, 206, 209);

    width:90%;
    height: 100%;

    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
  }

  #bear-box {
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
  }

  #bear-banner {
    height: 20vh;
  }

  #elk-box {
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

  }

  #elk-banner {
    height: 20vh;
  }

  #salmon-box {
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
  }

  #salmon-banner {
    height: 20vh;
  }

  #bird-box {
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
  }

  #bird-banner {
    height: 20vh;
  }

  #fox-box {
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
  }

  #fox-banner {
    height: 20vh;
  }
}